:root {
	--color-base-100: oklch(91.637% 0.034 90.515);
	--color-base-200: oklch(88.272% 0.049 91.774);
	--color-base-300: oklch(84.133% 0.065 90.856);
	--color-base-content: oklch(41% 0.112 45.904);
	--color-primary: oklch(80% 0.114 19.571);
	--color-primary-content: oklch(39% 0.141 25.723);
	--color-secondary: oklch(76% 0.177 163.223);
	--color-secondary-content: oklch(37% 0.077 168.94);
	--color-accent: oklch(65% 0.241 354.308);
	--color-accent-content: oklch(94% 0.028 342.258);
	--color-neutral: oklch(26% 0.007 34.298);
	--color-neutral-content: oklch(92% 0.003 48.717);
	--color-info: oklch(58% 0.158 241.966);
	--color-info-content: oklch(96% 0.059 95.617);
	--color-success: oklch(60% 0.118 184.704);
	--color-success-content: oklch(96% 0.059 95.617);
	--color-warning: oklch(76% 0.188 70.08);
	--color-warning-content: oklch(41% 0.112 45.904);
	--color-error: oklch(63% 0.237 25.331);
	--color-error-content: oklch(93% 0.032 17.717);
	--radius-selector: 0.25rem;
	--radius-field: 0rem;
	--radius-box: 0.5rem;
	--size-selector: 0.21875rem;
	--size-field: 0.21875rem;
	--border: 2px;
	--depth: 0;
	--noise: 0;
	--color-base-100: oklch(94.51% 0.179 104.32);
	--color-base-200: oklch(91.51% 0.179 104.32);
	--color-base-300: oklch(85.51% 0.179 104.32);
	--color-base-content: oklch(0% 0 0);
	--color-primary: oklch(74.22% 0.209 6.35);
	--color-primary-content: oklch(14.844% 0.041 6.35);
	--color-secondary: oklch(83.33% 0.184 204.72);
	--color-secondary-content: oklch(16.666% 0.036 204.72);
	--color-accent: oklch(71.86% 0.217 310.43);
	--color-accent-content: oklch(14.372% 0.043 310.43);
	--color-neutral: oklch(23.04% 0.065 269.31);
	--color-neutral-content: oklch(94.51% 0.179 104.32);
	--color-info: oklch(72.06% 0.191 231.6);
	--color-info-content: oklch(0% 0 0);
	--color-success: oklch(64.8% 0.15 160);
	--color-success-content: oklch(0% 0 0);
	--color-warning: oklch(84.71% 0.199 83.87);
	--color-warning-content: oklch(0% 0 0);
	--color-error: oklch(71.76% 0.221 22.18);
	--color-error-content: oklch(0% 0 0);
	--radius-selector: 0rem;
	--radius-field: 0rem;
	--radius-box: 0rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;

	  --color-base-100: oklch(97% 0.014 343.198);
  --color-base-200: oklch(94% 0.028 342.258);
  --color-base-300: oklch(89% 0.061 343.231);
  --color-base-content: oklch(40% 0.153 2.432);
  --color-primary: oklch(64% 0.222 41.116);
  --color-primary-content: oklch(98% 0.016 73.684);
  --color-secondary: oklch(66% 0.179 58.318);
  --color-secondary-content: oklch(98% 0.022 95.277);
  --color-accent: oklch(51% 0.262 276.966);
  --color-accent-content: oklch(96% 0.018 272.314);
  --color-neutral: oklch(45% 0.187 3.815);
  --color-neutral-content: oklch(97% 0.014 343.198);
  --color-info: oklch(62% 0.214 259.815);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(76% 0.233 130.85);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(96% 0.015 12.422);
}

:root {
	--spacing-base-define: 1rem;
	--spacing-base: var(--spacing-base-define);
	--spacing-xs: calc(var(--spacing-base) * 0.25);
	--spacing-sm: calc(var(--spacing-base) * 0.5);
	--spacing-md: calc(var(--spacing-base) * 0.75);
	--spacing-lg: calc(var(--spacing-base) * 1.5);
	--spacing-xl: calc(var(--spacing-base) * 2);
	--spacing-clamp: clamp(
		var(--spacing-sm),
		var(--spacing-base),
		var(--spacing-base)
	);
	--spacing-clamp-sm: clamp(
		var(--spacing-xs),
		var(--spacing-sm),
		var(--spacing-sm)
	);
	--content-space: var(--spacing-base);
	--page-space: var(--content-space);
	--page-width-lg: 920px;
	--page-width-sm: 360px;
	--page-width: 680px;
	--font-family-pixel: 'Press Start 2P', system-ui;
	--font-family-retro: 'Uncial Antiqua', system-ui;
	--font-family-mono: 'JetBrains Mono', monospace;
	--font-family-nwp: 'Electrolize', sans-serif;
}

@layer base, utils, components, componentsNwp;

@layer base {
	html {
		font-size: 100%;
	}
	body {
		font-family: var(--font-family-mono);
		/* 	font-family: var(--font-family-nwp); */
		font-size: 16px;
		line-height: 1.5;
	}
	body {
		width: 100vw;
		height: 100vh;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		overflow-x: hidden;
		overflow-y: hidden;
	}
}

@layer components {
	body {
		background-color: var(--color-base-100);
		color: var(--color-base-content);
		font-family: 'Electrolize', sans-serif;
		font-size: 16px;
		line-height: 1.5;
	}

	button,
	a,
	label,
	input,
	summary {
		cursor: pointer;
	}
}

@import './css/_typo.css';
@import './css/_page.css';
@import './css/_helper.css';
@import './css/_utils.css';
